# ---- Credenciales del Administrador (usadas por el seed para crear la cuenta docente) ----
ADMIN_EMAIL=admin@inejoma.edu.co
ADMIN_PASSWORD=AdminPass2026!
ADMIN_NAME=Prof. Administrador

# ---- Configuración de URL del Servidor (Frontend -> Backend) ----
VITE_API_URL=http://TU_IP_O_DOMINIO:3000
VITE_WS_URL=ws://TU_IP_O_DOMINIO:3000/ws
